i.icon {
    font-size: 1.5em;
    width: 3em;    
}

.container.main {
    margin-top: 5.0em;
}

.img_index {
    max-width: 300px;
}

.img_post {
    max-width: 100%;
}

.postsIndex {
    padding: 10px;
    /*margin-top: 5.0em;*/
}

.postsIndex:nth-child(2) {
    margin-top: 5.0em;
}

#delete {
    display: inline;
}